<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Göran med 1000</title>
    </head> 
    <body>
        <div id="app">
            <div v-if="menu">
                <button id="babyButton" class="difficultyButton" @click="startGame(10)">Bebis</button>
                <button id="easyButton" class="difficultyButton" @click="startGame(50)">Lätt</button>
                <button id="normalButton" class="difficultyButton" @click="startGame(100)">Normal</button>
                <button id="hardButton" class="difficultyButton" @click="startGame(1000)">Svår</button>
                <button id="impossibleButton" class="difficultyButton" @click="startGame(1000000)">Omöjlig</button>
                <label>Välj svårighetsgrad</label>
            </div>
            <br>
            <div v-if="gaming">
                <label>{{ responseText }}</label>
                <br>
                <input id="guessInput" type="number" min="1" v-bind:max="maxInput" v-model="guessInputValue">
                <button id="guessButton" v-if="guessButton" @click="guessing()">Gissa</button>
            </div>
            <div v-if="loading">
                <div class="loader">Loading...</div>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>